= form_for log_game, html: { class: 'form-horizontal candidate-form' } do |f|
  - if log_game.errors.any?
    #error_explanation
      %h2
        = pluralize(log_game.errors.count, "error")
        prohibited this log_game from being saved:
      %ul
        - log_game.errors.full_messages.each do |message|
          %li= message

  .form-group
    .col-sm-3.control-label
      = f.label :date_played
    .col-sm-3
      = f.date_select :date_played, { order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year, end_year: Date.today.year - 100 }, required: true, class: 'form-control'
  .form-group
    .col-sm-3.control-label
      = f.label :opponent_id
    .col-sm-3
      = f.select :opponent_id, users, { :include_blank => '-- Select One --' }, required: true, class: 'form-control'
  .form-group
    .col-sm-3.control-label
      = f.label :user_score, 'Your score'
    .col-sm-3
      = f.number_field :user_score, required: true, class: 'form-control'
  .form-group
    .col-sm-3.control-label
      = f.label :opponent_score, 'Their score'
    .col-sm-3
      = f.number_field :opponent_score, required: true, class: 'form-control'

  %hr
  .form-group
    .col-sm-2
      = f.submit log_game.new_record? ? 'Save' : 'Update', class: 'btn btn-primary'
      = link_to 'Back', log_games_path, class: 'btn btn-default'