%p#notice= notice
%h1 History

.container
  .row
    .col-md-12
      %table.table.table-hover.table-bordered.table-striped
        %thead
          %tr.table_head_color
            %th id
            %th Date
            %th Opponent
            %th Score
            %th Result
        %tbody
          - @log_games.each do |lg|
            %tr
              %td= lg.id
              %td= lg.date_played.strftime('%b %e')
              %td= lg.set_opponent(current_user)
              %td= lg.score(current_user)
              %td= lg.result(current_user)
%br/
= link_to 'New Log Game', new_log_game_path, class: 'btn btn-info'